@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Geologica&family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Cairo', sans-serif;
font-family: 'Geologica', sans-serif;
font-family: 'Roboto', sans-serif;
}
:root{
  --blue: #2278FB;
  --lightblue: #6BDFDB;
}
html,body{
  font-size: 22px;
  min-height: 200%;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(to right,var(--blue),var(--lightblue));
}
#Logo{
  position: relative;
  height: 80%;
  margin: .2em 3em;
  margin-left: auto;
}
#searchBar{
  position: absolute;
  display: flex;
  align-items: center;
  width: 12%;
  height: 70%;
  background-color: rgba(0, 0, 0, .5);
  margin-left: .5em;
  backdrop-filter: blur(15px);
  border-radius: 40px;
  transition: all 1s ease;
}
#searchBar input{
  display: inline-block;
  border: none;
  outline: none;
  width: 80%;
  height: 70%;
  margin-left: 1em;
  background: none;
  color: white;
  visibility: hidden;
}
#searchBar i{
  position: relative;
  margin-right: .5em;
  color: white;
  cursor: pointer;
}
.open{
  width: 70%;
}