---
---
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Oussama Zaaimi">
    <meta name="description" content="for my skills project">
    <title>Legendary</title>
    <link rel="icon" href="img/IMG_20230521_191944.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
<body>
 {% include header.html %}

<script src="https://kit.fontawesome.com/a48e1f6d48.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>